
<div class="hero-custom-title">
  {% if block.settings.title_1 != blank %}
    <div class="hero-title" style="
      font-size: {{ block.settings.font_size }};
      font-weight: {{ block.settings.font_weight }};
      color: {{ block.settings.title_color_1 | default: '#000000' }};">
      {{ block.settings.title_1 }}
    </div>
  {% endif %}

  {% if block.settings.title_2 != blank %}
    <div  class="hero-title" style="
      font-size: {{ block.settings.title_2_font_size | default: block.settings.font_size }};
      font-weight: {{ block.settings.title_2_font_weight | default: block.settings.font_weight }};
      color: {{ block.settings.title_color_2 | default: '#000000' }};">
      {{ block.settings.title_2 }}
    </div>
  {% endif %}
</div>